<div class="form-field-container">
    <ng-container *ngTemplateOutlet="renderControl; context: { control: control, parentGroup: parentGroup }">
    </ng-container>

    <ng-template #renderControl let-control="control" let-parentGroup="parentGroup">
        <ng-container [ngSwitch]="control.type">
            <div *ngSwitchCase="'group'" [formGroup]="parentGroup" class="nested-group">
                <app-accordion [multiple]="false">
                    <app-accordion-item title="{{control.label}}">
                        <ng-container *ngFor="let nestedControl of control.controls">
                            <ng-container *ngTemplateOutlet="
                              renderControl;
                              context: {
                                control: nestedControl,
                                parentGroup: parentGroup.get(control.label)
                              }
                            "></ng-container>
                        </ng-container>
                    </app-accordion-item>
                </app-accordion>
            </div>

            <div class="nested-field form-input" *ngSwitchCase="'text'" [formGroup]="parentGroup">
                <label class="label">{{ control.label }}</label>
                <input class="form-input-field" type="text" [formControlName]="control.label" />
            </div>

            <div class="nested-field form-check" *ngSwitchCase="'checkbox'" [formGroup]="parentGroup">
                <input class="form-check-input" type="checkbox" [formControlName]="control.label" />
                <label class="label">{{ control.label }}</label>
            </div>
            <div class="nested-field" *ngSwitchCase="'text-array'" [formGroup]="parentGroup">
                <label class="label form-select-label ">{{ control.label }}</label>
                <select [formControlName]="control.label" class="form-select">
                    <option *ngFor="let option of control.value">
                        {{ option }}
                    </option>
                </select>
            </div>

            <div *ngSwitchCase="'array'" class="nested-array" [formGroup]="parentGroup">

                <app-accordion [multiple]="false">
                    <app-accordion-item title="{{control.label}}">
                        <div [formArrayName]="control.label">
                            <div *ngFor="let itemControls of control.controls; let i = index" [formGroupName]="i">
                                <div *ngFor="let itemControl of itemControls">
                                    <ng-container *ngTemplateOutlet="
                                renderControl;
                                context: {
                                    control: itemControl,
                                    parentGroup: parentGroup.get(control.label).at(i)
                                }
                                "></ng-container>
                                </div>
                            </div>
                        </div>
                    </app-accordion-item>
                </app-accordion>


            </div>
        </ng-container>
    </ng-template>
</div>