.form-field-container {
    background-color: #eee;
    .label {
        color: var(--form-fields-label-gray);
    }
    .form-select-label {
        margin-right: 16px;
    }
    .nested-group,
    .nested-array {
        margin-left: 10px;
        padding-bottom: 10px;
    }
    .nested-field {
        padding: 0 10px;
    }
    .groupLable {
        color: #007bff;
    }
}