:root {
    --color-primary-rgb: 41, 69, 255;
    --color-primary: #5856d6;
    --color-primary-active: #4645ab;
    --color-primary-hover: #4b49b6;
    --color-second: #6b7785;
    --color-white: #fff;
    --color-gray1: #ccc;
    --color-gray2: #999;
    --color-gray3: #666;
    --color-gray4: #eee;
    --color-gray5: #f3f4f7;
    --color-black: #000;


    //can be moved to fonts folder
    --line-height: 1.2;
    --headline-xlarge-size: 2.4rem;
    --headline-large-size: 2.0rem;
    --headline-medium-size: 1.7rem;
    --headline-small-size: 1.5rem;
    --headline-xsmall-size: 1.3rem;
    --headline-font-weight: 600;
    --headline-letter-spacing: -0.03em;
  
    --number-xlarge-size: 5.2rem;
    --number-large-size: 4.8rem;
    --number-medium-size: 3.6rem;
    --number-small-size: 2.4rem;
    --number-font-weight: 600;
  
    --body-large-size: 1.7rem;
    --body-medium-size: 1.5rem;
    --body-small-size: 1.3rem;
    --body-xsmall-size: 1.2rem;
    --body-letter-spacing: 0em;
    --body-font-weight: 400;
    --body-bold-font-weight: 600;
  
    --footnote-size: 1.1rem;
    --label-size: 1.1rem;
    --group-label-size: 1.2rem;
    --bottom-nav-title-size: 1.0rem;
    --input-size: 1.6rem;
    //STANDARD 
    --standard-margin: 8px;
    --standard-padding: 8px;
    --standard-border-radius: 8px;
    --border-color: var(--color-gray1);
    //BUTTON  add secondary/nagetive button color if needed
    --button-primary-background-color: var(--color-primary);
    --button-primary-background-color-active: var(--color-primary-active);
    --button-primary-background-color-hover: var(--color-primary-hover);
    --button-background-disabled: var(--color-gray3);
    --button-border-disabled: var(--color-gray3);
    --button-text-disabled: var(--color-white);
    --button-border-radius: 0.25;
    --button-disabled: var(--color-gray2);
    //FORM FIELDS
    --form-fields-background-gray: var(--color-gray5);
    --form-fields-background-gray1: var(--color-gray3);
    --form-fields-background-primary: var(--color-primary);
    --form-fields-background-active: var(--color-primary-active);
    --form-fields-outline-border-primary: var(--color-primary);
    --form-fields-outline-border-gray: var(--color-gray1);
    --form-fields-outline-border-gray2: var(--color-gray2);
    --form-fields-outline-border-hover: var( --color-primary-hover);
    --form-fields-label-primary: var(--color-primary);
    --form-fields-label-gray: var(--color-gray3);
    --form-fields-label-black: var(--color-black);
    --form-fields-label-white: var( --color-white);
    --text-white-color: var(--color-white);
    --text-primary-background-color: var(--color-primary);
    --text-second-background-color: var(--color-second);

    // FONTS
    --font-headline-color: var(--color-black);
    --font-body-color: var(--color-grey10);
    --font-footnote-color: var(--color-grey7);
    --font-footnote-color-dark: var(--color-grey10);
    --font-footer-color: var(--color-grey7);
    --font-primary-color: var(--color-primary);
    --font-body-color-grey5: var(--color-grey5);
    --font-body-color-accent: var(--color-accent);

    // NOTIFICATION COLOR
    --notification-positive-color: var(--color-notification-positive);
    --notification-warning-color: var(--color-notification-warning);
    --notification-negative-color: var(--color-notification-negative);

    // HYPERLINKS
    --hyperlink-color: var(--color-primary);
    --hyperlink-color-hover: var(--color-primary-hover);
    --hyperlink-color-active: var(--color-primary-hover);

    // LAYOUT
    --layout-header-background-color: var(--color-white);
    --layout-navigation-background-color: var(--color-white);
    --layout-navigation-mobile-backdrop-color: var(--color-grey-rgb);
    --layout-content-background-color: var(--color-grey2);
    --layout-instructional-background-color: rgba(var(--color-primary-rgb), 0.1);
    --layout-background-color: var(--color-grey1);
}